doctype html
html
	head
		meta(charset="UTF-8")
		title Limestone
		link(rel="stylesheet", href="/css/project.css")
	body
		.header
			.limiter
				.block
					h1 Limestone

		.limiter
			.block
				h1 Typography
				p The default font-size is 16px with line-height of 1.5. Additionally all paragraphs get have a bottom margin of 30px (the default spacing unit).
			
			hr
			
			.block
				h2 Buttons
				
				.grid
					.col-6: a.btn.wide(href="#") Compose e-mail
					.col-6: a.btn.wide.green(href="#") Compose e-mail
					.col-6: a.btn.wide.blue(href="#") Compose e-mail
					.col-6: a.btn.wide.red.disabled(href="#") Compose e-mail
					
				.grid
					.col-6: a.btn.wide.orange(href="#") Compose e-mail
					.col-6: a.btn.wide.yellow.loading(href="#") Compose e-mail
					.col-6: a.btn.wide.purple(href="#") Compose e-mail
					.col-6: a.btn.wide.flat(href="#") Compose e-mail
			
			hr
			
			.block
				h2 Grid
				.grid-demo
					.grid
						.col-4 4
						.col-4 4
						.col-4 4
						.col-4 4
						.col-4 4
						.col-4 4
						
					.grid
						.col-6 6
						.col-12 12
						.col-6 6
					
					.grid
						.col-12 12
						.col-12 12
						
					.grid
						.col-24 24
						
			hr
			
			.block
				h2 Forms
				
				form.form.columnar
					fieldset
						legend Columnar form
						
						.row
							label.title Name
							.item
								input(type="text", placeholder="Your name here")
							
						.row
							label.title E-mail
							.item
								input(type="text", disabled, value="Disabled field")
								
						.row
							label.title Phone
							.item
								input(type="text", readonly, value="Readonly field")
								
						.row
							label.title Gender
							.item
								input#radio-1(type="radio", name="radio-1", value="1", checked)
								label(for="radio-1") Male
								
								input#radio-2(type="radio", name="radio-1", value="2")
								label(for="radio-2") Female

						.row
							label.title 
							.item
								button.btn.blue(type="submit") Send it

			.block
				form.form
					fieldset
						legend Linear form
						
						.grid
							.col-6
							.col-12
								.row
									label.title Name
									.item
										input(type="text", placeholder="Tpye your nickname")
									
								.row
									label.title Message
									.item
										textarea(rows="3")
										
								.row
									label.title
									.item
										input#checkbox-1(type="checkbox")
										label(for="checkbox-1") Check me, baby

								.row
									label.title 
									.item
										button.btn.blue(type="submit") Send it
							.col-6
