doctype html
html
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="/css/project.css")
	body
		.project
			.block
				a.btn(href="#") Compose e-mail
				button.btn Compose e-mail
				input.btn(type="button", value="Composee-mail")
