doctype html
html
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="/css/project.css")
	body
		.project
			.block
				div.section: a.btn(href="#") Compose e-mail
				div.section: a.btn.green(href="#") Compose e-mail
				div.section: a.btn.blue(href="#") Compose e-mail
				div.section: a.btn.red(href="#") Compose e-mail
				div.section: a.btn.yellow(href="#") Compose e-mail
				div.section: a.btn.purple(href="#") Compose e-mail
				div.section: a.btn.orange(href="#") Compose e-mail
