doctype html
html
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="/css/project.css")
	body
		.project
			.block
				h1 Kickstart
				p Hello world! Here is a <a href="#">link</a>.
			
			.block
				h2 Buttons
				
				.grid
					.col-6: a.btn(href="#") Compose e-mail
					.col-6: a.btn.green(href="#") Compose e-mail
					.col-6: a.btn.blue(href="#") Compose e-mail
					.col-6: a.btn.red.disabled(href="#") Compose e-mail
					
				.grid
					.col-6: a.btn.orange(href="#") Compose e-mail
					.col-6: a.btn.yellow.loading(href="#") Compose e-mail
					.col-6: a.btn.purple(href="#") Compose e-mail
					.col-6: a.btn.purple(href="#") Compose e-mail

			.block
				h2 Forms
				form.form
					.row
						label.title Name
						.item
							input(type="text", placeholder="Your name here")
						
					.row
						label.title E-mail
						.item
							input(type="text", disabled, value="Disabled field")
							
					.row
						label.title Phone
						.item
							input(type="text", readonly, value="Readonly field")
							
					.row
						label.title Messgae
						.item
							textarea(rows="3")
