doctype html
html
	head
		meta(charset="UTF-8")
		title Limestone
		link(rel="stylesheet", href="/css/project.css")
	body
		.header
			.limiter
				.block
					h1 Limestone

		.limiter
			.block
				h1 Typography
				p The default font-size is 16px with line-height of 1.5. Additionally all paragraphs get have a bottom margin of 30px (the default spacing unit).
			
			.block
				h2 Buttons
				
				.grid
					.col-6: a.btn.wide(href="#") Compose e-mail
					.col-6: a.btn.wide.green(href="#") Compose e-mail
					.col-6: a.btn.wide.blue(href="#") Compose e-mail
					.col-6: a.btn.wide.red.disabled(href="#") Compose e-mail
					
				.grid
					.col-6: a.btn.wide.orange(href="#") Compose e-mail
					.col-6: a.btn.wide.yellow.loading(href="#") Compose e-mail
					.col-6: a.btn.wide.purple(href="#") Compose e-mail
					.col-6: a.btn.wide.flat(href="#") Compose e-mail

			.block
				h2 Form
				form.form.linear
					.row
						label.title Name
						.item
							input(type="text", placeholder="Your name here")
						
					.row
						label.title E-mail
						.item
							input(type="text", disabled, value="Disabled field")
							
					.row
						label.title Phone
						.item
							input(type="text", readonly, value="Readonly field")
							
					.row
						label.title Message
						.item
							textarea(rows="3")

					.row
						label.title 
						.item
							button.btn.blue(type="submit") Send it
