.grid-demo .grid>div {
  border: 2px solid $color-gray;
  border-radius: $border-radius;
  box-sizing: border-box;
  text-align: center;
  line-height: 41px;
  height: 45px;
  color: $color-gray -20;
}
.color-block,
.color-block-gray {
  height: 120px;
  position: relative;
  color: #fff;
  text-align: center;
  line-height: 80px;
  border-radius: $border-radius;
}
.color-block.color-block-gray,
.color-block-gray.color-block-gray {
  height: 80px;
  line-height: 80px;
}
.color-block .lt,
.color-block-gray .lt,
.color-block .dk,
.color-block-gray .dk {
  width: 50%;
  position: absolute;
  bottom: 0;
  height: 40px;
}
.color-block .lt,
.color-block-gray .lt {
  left: 0;
  border-radius: 0 0 0 $border-radius;
}
.color-block .dk,
.color-block-gray .dk {
  right: 0;
  border-radius: 0 0 $border-radius 0;
}
.color-block.blue,
.color-block-gray.blue {
  background-color: $color-blue;
}
.color-block.blue .lt,
.color-block-gray.blue .lt {
  background-color: $color-blue-lt;
}
.color-block.blue .dk,
.color-block-gray.blue .dk {
  background-color: $color-blue-dk;
}
.color-block.gray,
.color-block-gray.gray {
  background-color: $color-gray;
}
.color-block.gray .lt,
.color-block-gray.gray .lt {
  background-color: $color-gray-lt;
}
.color-block.gray .dk,
.color-block-gray.gray .dk {
  background-color: $color-gray-dk;
}
.color-block.gray-ltr,
.color-block-gray.gray-ltr {
  background-color: $color-gray-ltr;
}
.color-block.gray-lt,
.color-block-gray.gray-lt {
  background-color: $color-gray-lt;
}
.color-block.gray,
.color-block-gray.gray {
  background-color: $color-gray;
}
.color-block.gray-md,
.color-block-gray.gray-md {
  background-color: $color-gray-md;
}
.color-block.gray-dk,
.color-block-gray.gray-dk {
  background-color: $color-gray-dk;
}
.color-block.red,
.color-block-gray.red {
  background-color: $color-red;
}
.color-block.red .lt,
.color-block-gray.red .lt {
  background-color: $color-red-lt;
}
.color-block.red .dk,
.color-block-gray.red .dk {
  background-color: $color-red-dk;
}
.color-block.yellow,
.color-block-gray.yellow {
  background-color: $color-yellow;
}
.color-block.yellow .lt,
.color-block-gray.yellow .lt {
  background-color: $color-yellow-lt;
}
.color-block.yellow .dk,
.color-block-gray.yellow .dk {
  background-color: $color-yellow-dk;
}
.color-block.green,
.color-block-gray.green {
  background-color: $color-green;
}
.color-block.green .lt,
.color-block-gray.green .lt {
  background-color: $color-green-lt;
}
.color-block.green .dk,
.color-block-gray.green .dk {
  background-color: $color-green-dk;
}
.color-block.purple,
.color-block-gray.purple {
  background-color: $color-purple;
}
.color-block.purple .lt,
.color-block-gray.purple .lt {
  background-color: $color-purple-lt;
}
.color-block.purple .dk,
.color-block-gray.purple .dk {
  background-color: $color-purple-dk;
}
.color-block.dark,
.color-block-gray.dark {
  background-color: $color-dark;
}
.color-block.dark .lt,
.color-block-gray.dark .lt {
  background-color: $color-dark-lt;
}
.color-block.dark .dk,
.color-block-gray.dark .dk {
  background-color: $color-dark-dk;
}
.color-block.dark-lt,
.color-block-gray.dark-lt {
  background-color: $color-dark-lt;
}
.color-block.dark-dk,
.color-block-gray.dark-dk {
  background-color: $color-dark-dk;
}
.color-block.orange,
.color-block-gray.orange {
  background-color: $color-orange;
}
.color-block.orange .lt,
.color-block-gray.orange .lt {
  background-color: $color-orange-lt;
}
.color-block.orange .dk,
.color-block-gray.orange .dk {
  background-color: $color-orange-dk;
}
/*# sourceMappingURL=demo.css.map */