body
    font-family $font-family
    color $color-dark
    font-size $font-size
    line-height 1.5em

a
    text-decoration none
    color $color-blue-lt
    transition color .075s

    &:hover
        color $color-blue-dk

.project
    width 800px
    margin 0 auto
    padding 30px
    min-height 500px
    background white

.block
    margin-bottom 60px

.section
    margin-bottom 30px

p
    margin-bottom 30px

h1
    font-size 30px
    margin-bottom 30px
    font-weight 400

h2
    font-size 24px
    margin-bottom 30px
    font-weight 400

h3
    font-size 18px
    margin-bottom 20px
    font-weight 300
