body
	font-family $font-family
	color $color-dark
	font-size $font-size
	line-height $line-height

a
	text-decoration none
	color $color-blue-lt
	transition color .075s

	&:hover
		color $color-blue-dk

hr
	border-color $color-gray-lt
	margin $default-spacing-unit 0

.grid-demo
	.grid>div
		border 2px solid $color-gray
		border-radius $border-radius
		box-sizing border-box
		text-align center
		line-height 41px
		height 45px
		color $color-gray - 20

.limiter
	width 940px
	margin 0 auto
	padding-left 30px
	padding-right 30px

	+below($below-handheld)
		width 90%
		padding-left 5%
		padding-right 5%

.header
	padding 65px 0 20px
	margin-bottom 80px
	position relative

	&:after
		background-color $color-gray-lt
		content ''
		display block
		height 2px
		position absolute
		bottom 0
		left 0
		width 100%

	h1
		font-size 60px
		font-weight 100

.block
	margin-bottom $default-spacing-unit * 2

.section
	margin-bottom $default-spacing-unit

p
	margin-bottom $default-spacing-unit

h1
	font-size 30px
	margin-bottom $default-spacing-unit
	font-weight 400

h2
	font-size 24px
	margin-bottom $default-spacing-unit
	font-weight 400

h3
	font-size 20px
	margin-bottom $default-spacing-unit * 0.5
	font-weight 400

.date
	color $color-gray-dk


.color-block
	$height = 120px

	height $height
	position relative
	color #fff
	text-align center
	line-height ($height / 3) * 2
	border-radius $border-radius

	.lt, .dk
		width 50%
		position absolute
		bottom 0
		height ($height / 3)

	.lt
		left 0
		border-radius 0 0 0 $border-radius

	.dk
		right 0
		border-radius 0 0 $border-radius 0

	&.blue
		background-color $color-blue

		.lt
			background-color $color-blue-lt

		.dk
			background-color $color-blue-dk

	&.gray
		background-color $color-gray

		.lt
			background-color $color-gray-lt

		.dk
			background-color $color-gray-dk

	&.red
		background-color $color-red

		.lt
			background-color $color-red-lt

		.dk
			background-color $color-red-dk

	&.yellow
		background-color $color-yellow

		.lt
			background-color $color-yellow-lt

		.dk
			background-color $color-yellow-dk

	&.green
		background-color $color-green

		.lt
			background-color $color-green-lt

		.dk
			background-color $color-green-dk

	&.purple
		background-color $color-purple

		.lt
			background-color $color-purple-lt

		.dk
			background-color $color-purple-dk

	&.dark
		background-color $color-dark

		.lt
			background-color $color-dark-lt

		.dk
			background-color $color-dark-dk

	&.orange
		background-color $color-orange

		.lt
			background-color $color-orange-lt

		.dk
			background-color $color-orange-dk
