.form
    .row
        margin-bottom $default-spacing-unit
        
        .title
            line-height 2
            
    .btn
        +below($below-handheld)
            width 100%

    &.linear
        .row
            @extend .grid

            .title
                @extend .grid .col-6
                padding-top 11px
                line-height $line-height
                text-align right
                
                +below($below-handheld)
                    text-align left
                    margin-bottom 0
                    line-height 2
                    padding-top 0

            .item
                @extend .grid .col-12
                
        &.wide
            .item
                @extend .grid .col-18

    
