@import 'jeet'
@import 'nib'
@import 'lib/reset'
@import 'lib/rupture'

body
    background #eee

.project
    width 800px
    margin 0 auto
    padding 30px
    min-height 500px
    background white
